<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/folder/inbox"></ion-back-button>
    </ion-buttons>
    <ion-title>Catálogo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card *ngFor="let producto of productos">
    <ion-card-header>
      <ion-card-title>{{ producto.producto_nombre }}</ion-card-title>
      <ion-card-subtitle>Categoría: {{ producto.categoria_nombre }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Precio: ${{ producto.precio }}
    </ion-card-content>
  </ion-card>
</ion-content>
