ion-header {
  --background: white;
  --color: #007bff; 
  border: none;
}

ion-toolbar {
  --background: white;
  --color: #007bff;
  border: none;
}

ion-title {
  color: #333; 
  font-size: 1.8rem; 
  font-weight: bold;
}

ion-content {
  --background: #fdfdfd;
  color: #222;
  padding: 0;
  margin: 0;
  padding-top: 20px; /* Espacio entre el contenido y el header */
  overflow: hidden;
}

.banner {
  position: relative;
  margin-top: 20px;
  width: 100%;
  overflow: hidden;
}

.banner-img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.banner-text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  font-size: 24px;
}

.slogan {
  color: #406ba0;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase; 
  letter-spacing: 2px; 
  margin-top: 50px; 
  margin-bottom: 25px; 
  position: relative; 
}

.logo {
  width: 60px;
  height: auto;
  margin-right: center;
}

ion-menu-button {
  color: black;
}

.productos {
  margin-bottom: 15px;
}

.info {
  margin-top: 30px;
  margin-bottom: 0;
}

.info-img {
  width: 100%;
  display: block;
}

.divider {
  width: 98%; /* Ocupa todo el ancho disponible */
  height: 2px; /* Altura de la línea */
  background-color: #93f5f9; /* Color de la línea, puedes cambiarlo a cualquier color */
  margin: 10px 0; /* Espacio alrededor de la línea, ajusta según lo necesites */
  margin-left: 1%;
}
