<!-- Menú Lateral -->
<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>
        <img src="assets/img/logo.png" alt="Logo" class="logo" />
        Paniqueado
      </ion-title>
    </ion-toolbar>
  </ion-header>
</ion-menu>

<!-- Barra de Navegación Principal -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img src="assets/img/logo.png" alt="Logo" class="logo" />
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- Contenido Principal -->
<ion-content id="main-content">
  <!-- Banner Principal con botón -->
<div class="banner">
  <img src="assets/img/Imagen1.png" alt="Cupcakes de Piña" class="banner-img" />
  <div class="banner-button">
    <ion-button routerLink="/lista-de-productos" fill="solid">
      COMPRAR
    </ion-button>
  </div>
</div>
<div class="divider"></div>
<div class="divider"></div>
<div class="divider"></div>
<!-- Sección de Productos con botón -->
<div class="productos">
  <img src="assets/img/Imagen2.png" alt="Cakes" class="productos-img" />
  <div class="productos-button">
    <ion-button routerLink="/catalogo-categorias" fill="solid">
      VER CÁTALOGO
    </ion-button>
  </div>
</div>


  <div class="divider"></div>
  <div class="divider"></div>

  <!-- Información adicional -->
  <div class="info">
    <img src="assets/img/Imagen3.png" alt="Cakes" class="info-img" />
  </div>
</ion-content>
