.splash-background {
  --background: #f7f7f7; /* Cambia el color de fondo si deseas */
}

.splash-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.splash-logo {
  width: 220px; /* Más grande */
  height: auto;
  animation: breathe 2.5s ease-in-out infinite;
}

/* Respirar: escala suave */
@keyframes breathe {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.95;
  }
}
